#main {
		margin-top: 100px;
	margin-bottom: 200px;

}

.flow-text {
	width: 253px;
	font-family: Courier;
	font-size: 42px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #1b1b1b;
	margin-bottom: 60px;
	}

h2 {
	background-color: #000000;
	margin-bottom: 5px;
	width: 185px;
	height: 30px;
	font-family: Courier;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 5px;
	text-align: center;
	color: #ffffff;
	padding-top: 5px;
}

h3 {
	font-family: Courier;
	font-size: 42px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #1b1b1b;
}
h5  {
	font-family: Courier;
	font-size: 12px;
	color: #b5b5b5;
}
h5.legit-count{
	font-size: 16px;
}
p { 
	width: 100%;
	font-family: Courier;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 45px;
	letter-spacing: 2px;
	color: #000000;
	margin-bottom: 20px;
	padding: 12px;
}

button {
	min-width: 120px;
	padding: 0 20px;
	height: 50px;
	margin-left: 10px;
	background-color: #000000;
	font-family: Courier;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 5px;
	text-align: center;
	color: #ffffff;
	border: none;
}
button:hover {
	background-color: blue;
}
button[disabled] {
    background-color: #A3A3A3;
}
#submit {
	background-color: blue;
	width: auto;
	margin: 0;
	padding: 0;
	overflow: auto;
    float: right;
}

#submit:hover {
	background-color: black;
}

.divider {
	margin-top: 50px;
	margin-bottom: 50px;
}
footer.page-footer {
	padding: 10px 0;
    background-color:white;
	position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    border-top: thin solid #b5b5b5;

}
footer.page-footer .row {
	margin-bottom: 0;
	padding: 10px 0;
}
textarea {
	width: 100%;
	font-family: Courier;
	font-size: 18px !important;
	border: none;
	padding: 0;

}
textarea.materialize-textarea {
	border: none;
	padding: 0;
	margin: 0px;
}

textarea.materialize-textarea:focus {
	border-bottom: none !important;
	box-shadow: 0 0 0 0 #ffffff !important;
}